@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body
{
    font-family: 'Roboto Condensed', sans-serif;
}

a
{
    text-decoration: none;
}

#faixa
{
    height: 30px;
    width: 100%;
    background-color: #FFCFBF;
}

#container
{
    margin: 0px;
    height: 250px;
    width: 100%;
}

    #container_topo1
    {
        margin: 0px;
        height: 200px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

        #item_1
        {
            margin-top: 30px;
            flex-direction: row;
            height: 100%;
            width: 35%;
        }

        /* #item_2 
        {
            display: flex;
            align-items: center;
            justify-content: space-evenly;            

            flex-direction: row;
            height: 100px;
            width: 50%;
        }

            #barra_busca
            {
                border: 2px solid black;
                border-radius: 0px;

                padding: 20px;
                height: 25px;
                width: 600px;
                margin: 10px;
                
                font-size: 19px;
                font-weight: bold;
                color: black;
            }

            #botao_busca
            {
                border: 2px solid black;

                width: 45px;
                height: 40px;
            }

                #botao_busca button
                {
                    background-color: white;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    border: none;
                }*/

    #container_topo2
    {
        display: flex;
        height: 50px;

        color: red;
        font-weight: bold;
        align-items: center;
    }

        #item_3
        {         
            margin-left: 770px;
            flex-direction: row;
            height: 30px;
            width: 250px;
            text-align: center;
            font-size: 25px;
        }

        #item_4
        {
            margin-left: 20px;
            margin-bottom: 5px;
            left: 0;
            flex-direction: row;
            height: 100%;
            width: 240px;

            display: flex;
            align-items: center;
        }

            .img_01
            { 
                width: 50px;
                height: 50px;
            }

            .whats
            {
                font-size: 25px;
                margin: 5px;
                color: black;
            }

        #item_5
        {
            margin-left: 25px;
            margin-bottom: 5px;
            left: 0;
            flex-direction: row;
            height: 100%;
            width: 240px;

            display: flex;
            align-items: center;
        }

            .img_02
            { 
                width: 40px;
                height: 40px;
            }

            .insta
            {
                font-size: 25px;
                margin: 5px;
                color: black;
            }

#header
{
    display: flex;
    background-color: #FFCFBF;
    height: 90px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#paginas
{
    height: 50px;
    background-color: white;
}
    #paginas ul
    {
        list-style-type: none;
        width: 1490px;
        height: 30px;
    }

        #paginas ul li
        {
            float: left;
            margin-left: 5px;
        }

                #paginas ul li a:not(.ativo)
                {
                    font-weight: bold;
                    font-size: 17px;
                    color: rgba(8, 8, 8, 0.486);
                    transition: 0.5s;
                    margin-left: 25px;
                }

                    #paginas a:hover:not(.ativo)
                    {
                        background-color: #f5bdaa;
                        color: black;
                        text-decoration: 2px underline black;
                        transition: 0.5s;
                    }

                        .ativo
                        {
                            text-decoration: 3px underline black;
                            color: black;
                            padding: 2px;
                            background-color: #f5bdaa;
                            font-weight: bold;
                            font-size: 17px;
                            color: black;
                            transition: 0.5s;
                            margin-left: 25px;
                        }

/*Corpo principal*/
#fundo_site
{
    margin: 0px;
    padding: 0px;
}

#legenda
{
    color: black;
    font-size: 29px;
    font-weight: bolder;
    text-align: center;
}

    span
    {
        color: red;
    }

#text_article
{
    margin: 5px;
    margin-left: 30px;
    font-size: 40px;
    color: black;
    text-shadow: #f5bdaa 3px 2px;
}

    #text_article a
    {
        color: black;
    }

.cont_1
{
    margin: 50px 0px 50px 0px;
}


.container_masc
{
    margin: auto;
    width: 95%;
    height: max-content;
    padding: 10px;

    display: block;

    background-color: white;
}

.linha
{
    margin: auto;
    padding: 50px;
    height: max-content;
    width: 90%;
    margin-top: 0px;
    display: block;
}
.oferta
{
    height: 200px;
}

    .oferta img
    {
        margin: 0px 0px 0px 440px;
        width: 40%;
        height: 100%;
    } 

        .item_a
        {
            height: 20%;
        }

        .item_b
        {
            height: max-content;
            width: 100%;
            display: flex;
            border: 5px solid #f5bdaa;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap; 
            padding: 20px;
        }

            .itens_roupas
            {
                width: max-content;
                height: max-content;
                margin: 5px;
            }

                .itens_roupas img
                {
                    border: 2px solid black;
                    width: 300px;
                    height: 300px;   
                }

            .itens_roupas_a
            {
                width: max-content;
                height: max-content;
                margin: 5px;
            }

                .itens_roupas_a img
                {
                    border: 2px solid black;
                    width: 300px;
                    height: 400px;  
                }



    .titulos
    {
        font-size: 50px;
        margin: 10px;
        text-shadow: #f5bdaa 3px 2px;
        
    }

@media screen and (max-width: 1440px)
{
    .oferta
    {
        height: 200px;
    }

    .oferta img
    {
        margin: 0px 0px 0px 440px;
        width: 30%;
        height: 100%;
    } 
}

@media screen and (max-width: 1024px)
{
    .oferta
    {
        height: 150px;

    }

    .oferta img
    {
        margin-left: 300px;
        width: 40%;
        height: 100%;
    } 

    .linha
    {
        padding: 10px;
        margin: 0px;
    }

    .itens_roupas img
    {
        width: 250px;
        height: 250px;
    }


    .itens_roupas_a img
    {
        height: 300px;
        width: 250px;
    }
}

@media screen and (max-width: 800px) 
{
    body
    {
        padding: 0px;
        margin: 0px;
    }

    .itens_roupas img
    {
        width: 200px;
        height: 200px;
    }


    .itens_roupas_a img
    {
        height: 300px;
        width: 250px;
    }

    .linha
    {
        padding: 0px;
        margin-top: 40px;
    }

    .titulos
    {
        font-size: 40px;
    }

    .oferta img
    {
        margin-left: 250px;
    }
}

@media screen and (max-width: 500px) 
{
    .oferta
    {
        margin-bottom: 30px;
    }

    .oferta img
    {
        width: 60%;
        margin-left: 100px;
    }

    .item_b
    {
        border: 2px solid #f5bdaa;
    }

    .itens_roupas img
    {
        width: 150px;
        height: 150px;
    }

    .itens_roupas_a img
    {
        width: 150px;
        height: 200px;
    }
    .carrossel
    {
        width: 400px;
        height: 300px;
    }
}

@media screen and (max-width: 400px)
{
    .carrossel
    {
        width: 95%;
        height: 300px;
    }

    .prev, .next
    {
        width: 10px;
        height: 25px;
        margin-top: -25px;
        font-size: 20px;
    }

    .n_text
    {
        font-size: 15px;
    }

    .oferta
    {
        margin-bottom: 10px;
        margin: auto;
    }

        .oferta img
        {
            width: 90%;
            height: 120px;
            margin-left: 20px;
        }
    
    .item_b
    {
        width: 95%;
    }
        
}